html {
    height: 100%;
}

body {
    margin: auto;
    height: 100%;
}

div.grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
}

div.grid h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-size: 12rem;
    letter-spacing: 0.1em;
}

div.grid img {
    height: 100%;
}

.gray {
    background-color: gray;
    position: relative;
}

.gray h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: maroon;
    font-size: 6rem;
    letter-spacing: 0.2em;
}